*{margin:0;padding:0;box-sizing:border-box;}
a{text-decoration: none;}
li{list-style: none;}
h1{font-size: 60px!important;font-weight:none!important;}
h1 font{
	color: #77B4BE;
}
body{
	text-align:center;
	background-color: #F7F7F3;
}
.nav{
	width: 100%;
	height:100px;
	float: left;
}
.userstyle{
	height:80px;
}
.nav  ul{
	background:#212022;
	text-align:center;
}
.nav  ul li{
	width: 12%;
	height: 100%;
	display:inline-block;
}
.nav  ul li a{
	display: inline-block;
	height: 100px;
	line-height: 100px;
	color:#FFF;
	font-weight:400;
	font-size:12px;
	transition:1 ease;
	text-transform:uppercase;
}
.nav  ul li a:hover{
	text-decoration: none;
	color: white;
}
.nav .active-li{
	background:url(../images/nip.png) no-repeat;
	background-color: cover;
	background-position:center bottom;
}
.nav .active-li a{
	font-size: 24px;
	line-height: 80px;
}
.fixed{
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0 auto;
	z-index: 1;
}
.data-box{
	padding: 50px 10% 100px 10%;
}
footer{
	height: 200px;
	background-color: #212022;
}
footer p{
	line-height: 40px;
	display: inline-block;
	color: white;
}
footer img{
	margin-top: 40px;
	height: 60px;
}
