*{margin: 0;padding: 0;box-sizing:border-box;font-family: 微软雅黑;}
ul{list-style: none;}
a{text-decoration: none;}
header{
	width: 100%;
	min-width: 1210px;
	height: 60px;
	background-color: #2189BE;
}
.logo{
	padding: 12px 0 12px 50px;
	width: 60%;
	height: 100%;
	display: inline-block;
}
.search-bar{
	width: 24%;
	height: 100%;
	line-height: 100%;
	vertical-align: middle;
	display: inline-block;
}
.search-bar input{
	width: 100%;
	height: 30px;
	border-radius: 15px;
	background: url("images/search_icon.png") no-repeat #fff;
	background-position: 20px 7px;
	padding-left: 40px;
	border: none;
	outline: none;
}
header span{
	width: 13%;
	float: right;
	background: url("images/login.png") no-repeat;
	background-position: 0 21px;
	padding-left: 20px;
	color: #fff;
	font-size: 12px;
	line-height: 60px;
	vertical-align: middle;
	display: inline-block;
}/***************************************--left--*****************************************/
.left-bar{
	width: 260px;
	min-width: 260px;
	height: 1227px;
	float: left;
	background-color: #2B2E3D;
}
.left-bar .section-1{
	height: 110px;
	text-align: center;
	color: #B9BABE;
}
.left-bar .section-1 .circle-container{
	width: 50%;
	height: 100%;
	float: left;
	padding: 20px 0;
	position: relative;
}
.left-bar .section-1 .outer-circle{
	width: 60px;
	height: 60px;
	border: 2px solid #B9BABE;
	border-radius: 30px;
	position: absolute;
	right: 25px;
}
.left-bar .section-1 .inner-circle{
	width: 50px;
	height: 50px;
	background-color: #B9BABE;
	border-radius: 25px;
	position: absolute;
	top: 3px;
	left: 3px;
}
.left-bar .section-1 .team-name{
	width: 50%;
	float: right;
	line-height: 110px;
	display: inline-block;
	padding-left: 10px;
	text-align: left;
}
.left-bar .section-2{
	width: 100%;
	height: 55px;
}
.left-bar .section-2 .left-collect,.left-bar .section-2 .right-fans{
	width: 50%;
	height: 100%;
	display: inline-block;
	color: #576475;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
}
.left-bar .section-2 span{
	padding: 0 40px;
	display: block;
}
.left-bar .section-2 .left-collect {
	float: left;
	text-align: right;
}
.left-bar .section-2 .right-fans {
	float: right;
	text-align: left;
}
.left-bar .section-2 .left-collect span{
	border-right: 1.5px solid #323544;
}
.left-bar .section-2 .right-fans span{
	border-left: 1.5px solid #323544;
}
.left-bar .section-3 {
	font-size: 12px;
	font-weight: bold;
	color: #6E8095;
	line-height: 50px;
}
.left-bar .section-3 span{
	width: 10px;
	display: inline-block;
}
.left-bar .section-3 a{
	width: 100%;
	display: inline-block;
}
.left-bar .section-3 .layer-1 li>a{
	padding-left: 18.3%;
}
.left-bar .section-3 .layer-2 li>a{
	padding-left: 26%;
}
.left-bar .section-3 .layer-3 li>a{
	padding-left: 34%;
}
/*下面是第一级菜单的图标设置*/
.left-bar .section-3 .layer-1 .file>a:before{
	content: url("images/share.png");
}
.left-bar .section-3 .layer-1 .collection>a:before{
	content: url("images/star.png");
}
.left-bar .section-3 .layer-1 .share>a:before{
	content: url("images/share.png");
}
.left-bar .section-3 .layer-1 .pic>a:before{
	content: url("images/star.png");
}
.left-bar .section-3 .layer-1 .growe>a:before{
	content: url("images/star.png");
}
.left-bar .section-3 .layer-1 .account>a:before{
	content: url("images/user_info.png");
}/*图标覆盖设置*/
.left-bar .section-3 .layer-1>li>a:hover:before{
	content: url("images/file_open.png");
}/*下面是第二级菜单的图标设置*/
.left-bar .section-3 .layer-2>li>a>span{
	width: 35px;
	height: 11px;
	background: url("images/file_close.png") no-repeat;
	background-position: 12 0;
}
.left-bar .section-3 .layer-2>li>a:before{
	content: url("images/close_arrow.png");
}/*下面是二级图标覆盖设置*/
.left-bar .section-3 .layer-2>li>a:hover>span{
	background: url("images/file_cur.png") no-repeat;
	background-position: 12 0;
}
.left-bar .section-3 .layer-2>li>a:hover:before{
	content: url("images/open_arrow.png");
}/*下面是三级图标和覆盖设置*/
.left-bar .section-3 .layer-3 li a:before{
	content: url("images/doc_close.png");
}
.left-bar .section-3 .layer-3 li a:hover:before{
	content: url("images/doc_open.png");
}/*下面是覆盖元素变化设置*/
.left-bar .section-3 a:hover{
	background-color: #383E4E;
	color: #fff;
	cursor: pointer;
}
.left-bar .section-3 .layer-1>li>a:hover{
	cursor: pointer;
	color: #fff;
}/*下面是选中的三级元素的变化*/
.left-bar .section-3 .selected>a{
	color: #fff;
}/*下面一级*/
.left-bar .section-3 .layer-1>.selected{
	background: #383E4E;
}
.left-bar .section-3 .layer-1>.selected>a:before{
	content: url("images/file_open.png");
}/*下面二级*/
.left-bar .section-3 .layer-2>.selected>a>span{
	background: url("images/file_cur.png") no-repeat;
	background-position: 12 0;
}
.left-bar .section-3 .layer-2>.selected>a:before{
	content: url("images/open_arrow.png");
}/*下面三级*/
.left-bar .section-3 .layer-3>.selected>a:before{
	content: url("images/doc_open.png");
}/**********************************--right--**********************************************/
.right-content{
	min-width: 950px;
	margin: 0 0 0 260px;
}
.right-content .present-position{
	width: 100%;
	height: 32px;
	background-color: #fff;
	font-size: 12px;
	color: #B0B0B0;
}
.right-content .present-position span{
	line-height: 32px;
	display: inline-block;
	margin: 0 10px;
}
.right-content .present-position span:first-child{
	padding-left: 20px;
}
.right-content .present-position .selected{
	color: #6697C0;
}
.right-content .tool{
	width: 100%;
	padding: 20px 70px 160px 60px;
	background-color: #EDEDEE;
}
.right-content .section-1{background-color: #fff;}
.right-content .section-1{
	width: 100%;
	height: 85px;
	padding: 10px 30px;
	border-left: 1px solid #C9CDD0;
	border-top: 1px solid #C9CDD0;
}
.right-content .section-1 .select-div{
	font-size: 12px;
	display: inline-block;
	float: left;
}
.right-content .section-1 .select-div span{
	float: left;
	color: #B6B6B6;
	margin: 10px 15px 0 0;
}
.right-content .section-1 .select-div ul{
	height: 25px;
	margin: 5px 0 0 0;
	padding-left: 10px;
	line-height: 23px;
	background-color: #fff;
	border:1px solid #B6B6B6;
	background: url("images/black_arrow.png") no-repeat right;
	background-position: 92% 9px;
	display: inline-block;
}
.right-content .section-1 .select-2 a{
	width: 38px;
	color: #fff;
	margin-top: 15px;
	line-height: 38px;
	text-align: center;
	background: url("images/change.png") no-repeat;
	display: inline-block;
}
.right-f{float: right;}
.left-f{float: left;}
.wid70{width: 70px;}
.wid120{width: 120px;}
.wid160{width: 160px;}
.wid220{width: 220px;}
.wid290{width: 290px;}
.right-content .section-1 .search-button{
	margin: 20px 0 0 3.5%;
}
.right-content .section-2{
	margin-top: 10px;
	width: 100%;
	height: 65px; 
}
.right-content .section-2 div,.right-content .section-2 .arrow{
	height: 65px; 
	float: left;
	text-align: center;
	border-left: 1px solid #C9CDD0;
	display: inline-block;
	background-color: #fff;
}
.right-content .section-2 .arrow{
	width: 3.3%;
	color: #B6B6B6;
	font-size: 30px;
	line-height: 65px;
	margin-right: 0.55%;
}
.right-content .section-2 .arrow:hover{
	background-color: #EDEDEF;
	color: #fff;
	cursor: pointer;
}
.right-content .section-2 .time-price{
	width: 12.5%;
	margin-right: 0.55%;
	padding-top: 12px;
	font-size: 12px;/*
	border-top: 3px solid #398AC1;*/
}
.right-content .section-2 .time-price:hover{
	border-top: 3px solid #398AC1;
}
.top-blue{border-top: 3px solid #398AC1;}
.right-content .section-2 .time-price p:last-child{
	font-size: 14px;
	color: #B6B6B6;
}
.right-content .section-2 .time-price span{
	font-size: 20px;
	color: #EF6A0B;
}
.right-content .section-2 .history-data{
	width: 14%;
	padding: 15px 1.25%;
}
.right-content .section-2 .history-data img{
	float: left;
}
.right-content .section-2 .history-data span{
	float: left;
	margin-left: 5px;
	font-size: 14px;
	line-height: 30px;
	display: inline-block;
}
.right-content .section-3{
	margin-top: 10px;
	width: 100%;
	height: 100px;
}
.right-content .section-3 p:first-child{
	font-size: 14px;
	line-height: 30px;
}
.right-content .section-3 div{
	width: 22.5%;
	height: 70px;
	margin-right: 3.3%;
	padding: 7px 15px;
	float: left;
	position: relative;
	background-color: #fff;
	border-radius: 2px;
	box-shadow:3px 1px 3px #C9CDD0;
	display: inline-block;
}
.right-content .section-3 .sale-count p:nth-of-type(2){
	font-size: 12px;
	line-height: 25px;
	color: #C9CDD0;
}
.right-content .section-3 .sale-count span{
	width: 60px;
	height: 45px;
	display: inline-block;
	position: absolute;
	right: 15px;top: 12.5px;
}
.right-content .section-3 div:nth-of-type(1) span{
	background-color: #43B29F;
}
.right-content .section-3 div:nth-of-type(2) span{
	background-color: #398AC1;
}
.right-content .section-3 div:nth-of-type(3) span{
	background-color: #CE4A35;
}
.right-content .section-3 div:nth-of-type(4) span{
	background-color: #E1CD46;
}
.right-content .section-3 div:nth-of-type(1){
	border-left:3px solid #43B29F;
}
.right-content .section-3 div:nth-of-type(2){
	border-left:3px solid #398AC1;
}
.right-content .section-3 div:nth-of-type(3){
	border-left:3px solid #CE4A35;
}
.right-content .section-3 div:nth-of-type(4){
	margin :0; 
	border-left:3px solid #E1CD46;
}
.right-content .section-4{
	margin-top: 5px;
	width: 100%;
	height: 740px;
}
.right-content .section-4  .calendar,.right-content .section-4 .purchase{
	margin-right: 1%;
	float: left;
}
.right-content .section-4 .purchase,.right-content .section-4 .ranking{width: 60%;}
.right-content .section-4 .price,.right-content .section-4 .calendar{width: 39%;}
.right-content .section-4 .project{
	margin-top: 10px;
	height: 355px;
	display: inline-block;
	border: 1px solid #CBCBCB;
	border-radius: 10px; 
	background-color: #fff;
	box-shadow:2px 1px 1px #C9CDD0;
}
.right-content .section-4 .project .head-line{
	width: 100%;
	height: 40px;
	padding: 0 20px;
	font-size: 14px;
	line-height: 40px;
	color: #A9A9AB;
	border-bottom: 1px solid #F3F3F5;
	background-color: #F4F5F7;
	border-top-left-radius: 8px; 
	border-top-right-radius: 8px; 
}
.right-content .section-4 .purchase .inner-detail,
.right-content .section-4 .ranking .inner-detail{
	height: 275px;
	margin: 10px 20 40px 20;
	text-align: center;
	position: relative;
}
.right-content .section-4 .purchase ul li span{
	width: 17%;
	height: 35px;
	margin-right: 5px;/*
	margin-top: -35px;*/
	float: left;
	font-size: 12px;
	line-height: 35px;
	background-color: #EDEDEF;
	display: inline-block;
	border-top-left-radius: 3px; 
	border-top-right-radius: 3px;
}
.right-content .section-4 .purchase .selected-li span{
	position: relative;
	z-index: 2;
	height: 36px;
	background-color: #fff;
	border: 1px solid #CBCBCB;
	border-bottom: none;
	
}
.right-content .section-4 .purchase .table-purchase{
	width: 100%;
	height: 245px;
	padding:20px 40px 40px 40px;
	border: 1px solid #CBCBCB;
	position: absolute;
	top: 35;
	left: 0;
}
.right-content .section-4 .purchase .tb-1{
	width: 100%;
	height: 100%;
	border-collapse:collapse;
}
.right-content .section-4 .purchase .tb-1 td{
	width: 25%;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #CBCBCB;/*
	background: #F3F4F6;*/
}
.right-content .section-4 .purchase .tb-1 tr:first-child td:first-child{
	background: #F3F4F6;
}
.right-content .section-4 .price .project-detail{
	height: 275px;
	margin: 15px 0 25px 0;
}
.right-content .section-4 .price ul{
	width: 90%;
	margin-left: 10%;
}
.right-content .section-4 .price ul li{
	height: 45px;
	font-size: 12px;
}
.right-content .section-4 .price ul li:nth-of-type(3){
	height: 145px;
	border-top: 1px solid #CBCBCB;
}
.right-content .section-4 .price ul li span{
	padding-left: 15px;
	color: #C2C2C2;
}
.right-content .section-4 .price ul li p{
	padding-left: 15px;
	line-height: 30px;
}
.right-content .section-4 .price .firstdiv{
	width: 33.33%;
	float: left;
	border-top: 1px solid #CBCBCB;
	border-right: 1px solid #CBCBCB;
}
.right-content .section-4 .price .seconddiv{
	width: 56.66%;
	margin-right: 10%;
	float: right;
	border-top: 1px solid #CBCBCB;
}
.right-content .section-4 .price form{
	margin: 0 10%;
	height: 35px;
	position: relative;
	border-top: 1px solid #CBCBCB;
}
.search-button{
	width: 50px;
	color: #fff;
	font-size: 14px;
	line-height: 25px;
	text-align: center;
	background-color: #398AC1;
	border-radius: 2px;
	display: inline-block;
}
.right-content .section-4 .price form label{
	width: 14px;
	height: 14px;
	float: left;
	margin-top: 10px;
	line-height: 35px;
	color:#535353;
	background: #ededf0;
	border:1px solid #ededf0;
	display: inline-block;
}
.right-content .section-4 .price form input{
	position: absolute;
	left: 0px;
	top: 10px;
	opacity: 0;
	cursor: pointer;
}
.right-content .section-4 .price form input[type="checkbox"]:checked~label{
	background: #d5d5d5 url(images/gou.png) no-repeat center;
}
.right-content .section-4 .price form span:nth-of-type(1){
	margin:0px 0 0 8px;
	font-size: 12px;
	line-height: 35px;
	display: inline-block;
}
.right-content .section-4 .price .search-button{
	margin-top: 5px;
	float: right;
}
/**************************************************/
.right-content .section-4 .calendar{
	font-size: 10px;
}
.right-content .section-4 .calendar .inner-detail{
	width: 100%;
	position: relative;
	height: 100%;
}
.right-content .section-4 .calendar .center-container{
	width: 315px;
	position: absolute;
	left: 50%;
	margin-left: -157.5px;
}
.right-content .section-4 .calendar .item-line{
	height: 35px;
	margin-top: 10px;
	border-bottom: 1px solid #A9CFEC;
	position: relative;
}
.right-content .section-4 .calendar .item-line span,
.right-content .section-4 .calendar .item-line label{
	height: 20px;
	float: left;
	text-align: center;
	display: inline-block;
	border: 1px solid #CACBCB;
}
.right-content .section-4 .calendar .item-line a{
	width: 20px;
	height: 20px;
	border: 1px solid #F5F6F7;
	float: right;
	background: url("images/select_down.png") no-repeat 6 6;
}
.right-content .section-4 .calendar .item-line label,
.right-content .section-4 .calendar .item-line span:nth-of-type(1){width: 20.6%;}
.right-content .section-4 .calendar .item-line span:nth-of-type(2){width: 27%;}
.right-content .section-4 .calendar .item-line span:nth-of-type(3){width: 24%;}
.right-content .section-4 .calendar .item-line span{margin-right:2.6%;}
.right-content .section-4 .calendar .table-box td{
	font-size: 8px !important;
}
.table-box table{
	width: 100%;
	text-align: center;
}
.right-content .section-4 .calendar table thead{
	height: 30px;
	line-height: 35px;
	border-bottom: 1px solid #ECECED;
}
.right-content .section-4 .calendar table tbody td{
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.right-content .section-4 .calendar table tbody tr:nth-of-type(1){
	padding-top: 8px;
}
.right-content .section-4 .calendar table tbody td:nth-of-type(6),
.right-content .section-4 .calendar table tbody td:nth-of-type(7){
	color: red;
}
.right-content .section-4 .calendar table .festival,
.right-content .section-4 .calendar table td:hover{
	border: 1px solid #F5C21D;
}
.right-content .section-4 .ranking table{
	width: 100%;
	height: 275px;
	margin-top: 5px;
	text-align: center;
	border-collapse: collapse;
}
.right-content .section-4 .ranking table thead td{
	height: 25px;
	font-weight: bold;
}
.right-content .section-4 .ranking table span{
	width: 170px;
	height: 5px;
	margin-left: 30px;
	display: inline-block;
}
.right-content .section-4 .ranking table tbody span{
	background-color: #E3E3E3;
	position: relative;
}
.right-content .section-4 .ranking table tbody label{
	height: 5px;
	width: 1;
	position: absolute;
	left: 0;
	display: inline-block;
	background-color: black;
}
.right-content .section-4 .ranking table td{
	font-size: 10px;
	border: 1px solid #CBCBCB;
}
.right-content .section-4 .ranking table tbody tr:nth-of-type(10) td{
	border-bottom: none!important;
}
.right-content .section-4 .ranking table td:nth-of-type(1){width: 15%;}
.right-content .section-4 .ranking table td:nth-of-type(2){width: 20%;}
.right-content .section-4 .ranking table td:nth-of-type(3){width: 65%;}